<section class="hero hero--main">
  <div class="hero__wrapper">
    <div class="hero__swiper swiper" data-hero-swiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h1 class="hero__title">
            Дарим скидку <br><span class="hero__title-color">5% на комплект</span>
          </h1>
          <p class="hero__text">
            Промышленный вентилятор + преобразователь частоты
          </p>
          <button class="hero__button" type="button">
            Оставить заявку
          </button>
        </div>
        <div class="swiper-slide">
          <h1 class="hero__title">
            Дарим скидку <br><span class="hero__title-color">5% на комплект</span>
          </h1>
          <button class="hero__button" type="button">Оставить заявку</button>
        </div>
      </div>
    </div>

    <div class="hero__swiper-container">
      <div class="hero__circle-position">
        <div class="hero__circle-inner">
          <svg class="hero__circle" viewBox="0 0 1018 1018" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle class="rotate rotate-bottom" cx="508.5" cy="509.5" r="265" stroke="#4990FF" stroke-opacity="0.2" stroke-width="3"/>
            <g class="rotate rotate-top">
              <path d="M126.019 176.698C209.039 81.2848 324.723 20.3464 450.365 5.84408C576.006 -8.65827 702.531 24.3227 805.105 98.3135C907.679 172.304 978.895 281.961 1004.77 405.761C1030.65 529.561 1009.32 658.563 944.978 767.446C880.631 876.329 777.911 957.23 656.981 994.27C536.051 1031.31 405.643 1021.81 291.355 967.645C177.067 913.477 87.1513 818.548 39.2575 701.491C-8.63626 584.434 -11.0496 453.704 32.4911 334.959" stroke="#4990FF" stroke-opacity="0.12" stroke-width="3"/>
              <g> <circle cx="36" cy="330" r="7" fill="#4990FF" fill-opacity="0.12"/>
                <text x="10" y="10">Hello World!</text>
              </g>
              <circle opacity="0.12" cx="124" cy="182" r="7" fill="#4990FF"/>
            </g>

            <g class="rotate rotate-middle">
              <path d="M895.66 453.393C913.872 549.842 895.429 649.615 843.941 733.18C792.453 816.744 711.629 878.081 617.292 905.183C522.954 932.284 421.898 923.198 333.908 879.704C245.919 836.209 177.332 761.438 141.575 670.03C105.819 578.622 105.469 477.158 140.594 385.505C175.718 293.852 243.787 218.61 331.475 174.509C419.162 130.408 520.153 120.625 614.675 147.075C709.197 173.525 790.443 234.303 842.507 317.51" stroke="#4990FF" stroke-opacity="0.24" stroke-width="3"/>
              <circle cx="894.002" cy="447" r="7" transform="rotate(-180 894.002 447)" fill="#4990FF" fill-opacity="0.24"/>
              <circle cx="846.001" cy="323" r="7" transform="rotate(-180 846.001 323)" fill="#4990FF" fill-opacity="0.24"/>
            </g>
          </svg>
        </div>
      </div>
      <div class="swiper" data-hero-image-swiper>
        <div class="swiper-wrapper">
          <div class="hero__img-slide swiper-slide">
            <img src="assets/images/hero/hero-img.png" alt="Фото на главной" width="650px" height="650">

          </div>
          <div class="hero__img-slide swiper-slide">
            <img src="assets/images/hero/hero-img.png" alt="Фото на главной" width="650px" height="650">
          </div>
        </div>
      </div>
    </div>

    <div class="hero__swiper-control-inner">
      <div class="hero__swiper-button hero__swiper-button--next hero__autoplay autoplay-progress" data-image-next data-image-autoplay>
        <svg class="hero__autoplay-icon" viewBox="0 0 40 40">
          <circle cx="20" cy="20" r="20"></circle>
        </svg>
      </div>
      <div class="hero__swiper-button hero__swiper-button--prev" data-image-prev></div>

    </div>

  </div>
  <div class="container">
<div class="hero__mobile-swiper" data-mobile-swiper>
  <div class="hero__info-inner">
    <div class="hero__info-item hero__info-item--first">
      <h4 class="hero__info-title">Эффективность</h4>
      <p class="hero__subtitle">
        Наш сайт предлагает широкий выбор высококачественных систем вентиляции
      </p>
    </div>
    <div class="hero__info-item hero__info-item--other">
      <div class="hero__info-svg-wrapper">
        <svg class="hero__info-svg">
          <use class="stocks__more-color" xlink:href="assets/images/svg/set.svg#info-1"></use>
        </svg>
      </div>
      <p class="hero__info-text">
        Надежность
      </p>
    </div>
    <div class="hero__info-item hero__info-item--other">
      <div class="hero__info-svg-wrapper">
        <svg class="hero__info-svg">
          <use class="stocks__more-color" xlink:href="assets/images/svg/set.svg#info-2"></use>
        </svg>
      </div>
      <p class="hero__info-text">
        Надежность
      </p>
    </div>
    <div class="hero__info-item hero__info-item--other">
      <div class="hero__info-svg-wrapper">
        <svg class="hero__info-svg">
          <use class="stocks__more-color" xlink:href="assets/images/svg/set.svg#info-3"></use>
        </svg>
      </div>
      <p class="hero__info-text">
        Надежность
      </p>
    </div>
  </div>
</div>
  </div>

</section>


