<div class="product-single__item product-single__item--sidebar product-single__item--sidebar-two product-single__sidebar" data-check-select>
  <div class="product-single__sidebar-promo">
    <span class="product-single__promo">в наличии</span>
    <div class="notification notification--one">
      <svg class="product-single__icon notification__icon">
        <use xlink:href="./assets/images/svg/set.svg#product-single-sale"></use>
      </svg>
      <div class="notification__hidden">
          <p class="notification__text">Если нет в наличии то есть стандартные сроки производства, но мы можем сделать экспресс-производство за 5 рабочих дней</p>
      </div>
    </div>
  </div>
  <h1 class="product-single__title">Вентилятор радиальный низкого давления №2,5</h1>
  <p class="product-single__choose-text product-single__choose-text--second">Радиальные вентиляторы низкого давления ВР 80-70, ВР 80-75, ВР 86-77, ВЦ 4-40, ВЦ 4-70, ВЦ 4-75</p>
  <div class="product-single__maker-inner product-single__maker-inner--second">
    <p class="product-single__info product-single__info--second">Схема исполнения: </p>
    <div class="notification">
      <svg class="product-single__icon notification__icon">
        <use xlink:href="./assets/images/svg/set.svg#product-single-sale"></use>
      </svg>
      <div class="notification__hidden notification__hidden--touch">
        <p class="notification__text">У нас имеется своё производство</p>
        <a class="notification__link" href="#">Посмотреть сертификат</a>

      </div>
    </div>
  </div>
  <div class="product-single__scheme-inner">
    <label class="product-single__scheme-label">
      <input class="product-single__scheme-radio" form="product-single-form-two" type="radio" value="1" name="scheme" checked>
      <span class="product-single__scheme-radio-fake">1</span>
    </label>
    <label class="product-single__scheme-label">
      <input class="product-single__scheme-radio" form="product-single-form-two"  type="radio" value="5" name="scheme">
      <span class="product-single__scheme-radio-fake">5</span>
    </label>
  </div>


  <form class="product-single__form product-single__form--two" id="product-single-form-two">
    <fieldset class="product-single__select-inner">
      <p class="product-single__info">Схема исполнения: </p>
      <div class="product-single__select product-single__select--one  itc-select" data-execution>
        <button class="itc-select__toggle" type="button" name="" value="" data-select="toggle" data-index="-1">Выбрать</button>
        <div class="itc-select__dropdown">
          <ul class="itc-select__options">
            <li class="itc-select__option" data-select="option" data-value="" data-index="0">Общепромышленное, углеродистая сталь</li>
            <li class="itc-select__option" data-select="option" data-value="" data-index="1">Общепромышленное коррозионностойкое (К1)</li>
            <li class="itc-select__option" data-select="option" data-value="" data-index="2">Взрывозащищенное из разнородных металлов (В)</li>
            <li class="itc-select__option" data-select="option" data-value="" data-index="3">Взрывозащищенное, алюминий (ВК3)</li>
            <li class="itc-select__option" data-select="option" data-value="" data-index="4">Взрывозащищенное, коррозионностойкое (ВК1)</li>
            <li class="itc-select__option" data-select="option" data-value="" data-index="5">Жаростойкое (Ж)</li>
          </ul>
        </div>
      </div>
      <p class="product-single__info">Схема исполнения: </p>
      <div class="product-single__select itc-select" data-electric>
        <button class="itc-select__toggle" type="button" name="" value="" data-select="toggle" data-index="-1">Выбрать</button>
        <div class="itc-select__dropdown">
          <ul class="itc-select__options">
            <li class="itc-select__option" data-select="option" data-value="" data-index="0">Общепромышленное, углеродистая сталь</li>
            <li class="itc-select__option" data-select="option" data-value="" data-index="1">Общепромышленное коррозионностойкое (К1)</li>
            <li class="itc-select__option" data-select="option" data-value="" data-index="2">Взрывозащищенное из разнородных металлов (В)</li>
            <li class="itc-select__option" data-select="option" data-value="" data-index="3">Взрывозащищенное, алюминий (ВК3)</li>
            <li class="itc-select__option" data-select="option" data-value="" data-index="4">Взрывозащищенное, коррозионностойкое (ВК1)</li>
            <li class="itc-select__option" data-select="option" data-value="" data-index="5">Жаростойкое (Ж)</li>
          </ul>
        </div>
      </div>
    </fieldset>

    <fieldset class="product-single__button-inner">
      <label class="product-single__price">Цена:
        <input class="product-single__price-input" data-price name="price" value=""><span class="product-single__price-fake-input">1875</span> руб</label>
      <button class="product-single__button" type="submit">Оставить заказ</button>
    </fieldset>
  </form>
</div>