<div class="product-single__item product-single__item--sidebar product-single__item--sidebar-two product-single__sidebar">
  <div class="product-single__sidebar-promo">
    <span class="product-single__promo">в наличии</span>
    <div class="notification notification--one">
      <svg class="product-single__icon notification__icon">
        <use xlink:href="./assets/images/svg/set.svg#product-single-sale"></use>
      </svg>
      <div class="notification__hidden">
          <p class="notification__text">Если нет в наличии то есть стандартные сроки производства, но мы можем сделать экспресс-производство за 5 рабочих дней</p>
      </div>
    </div>
  </div>
  <h1 class="product-single__title">Решетка наружная накладная РНН</h1>
  <form class="product-single__form product-single__form--three" id="product-single-form-three">
    <fieldset class="product-single__select-inner">
      <p class="product-single__info product-single__info--three">Модели с мощностью двигателя:</p>
      <fieldset class="product-single__three-checkbox-inner">
        <label class="product-single__three-label">
          <input class="product-single__three-input" type="radio" name="model" checked>
          <span class="product-single__three-fake-input"></span> ЩУВ1-0,18 с мощностью двигателя 0,2
        </label>
        <label class="product-single__three-label">
          <input class="product-single__three-input" type="radio" name="model">
          <span class="product-single__three-fake-input"></span>
          <span class="product-single__three-fake-text">ЩУВ1-0,18 с мощностью двигателя 0,2</span>
        </label>
        <label class="product-single__three-label">
          <input class="product-single__three-input" type="radio" name="model">
          <span class="product-single__three-fake-input"></span>
          <span class="product-single__three-fake-text">ЩУВ1-0,18 с мощностью двигателя 0,2</span>
        </label>
        <label class="product-single__three-label">
          <input class="product-single__three-input" type="radio" name="model">
          <span class="product-single__three-fake-input"></span>
          <span class="product-single__three-fake-text">ЩУВ1-0,18 с мощностью двигателя 0,2</span>
        </label>
        <label class="product-single__three-label">
          <input class="product-single__three-input" type="radio" name="model">
          <span class="product-single__three-fake-input"></span>
          <span class="product-single__three-fake-text">ЩУВ1-0,18 с мощностью двигателя 0,2</span>
        </label>
        <label class="product-single__three-label">
          <input class="product-single__three-input" type="radio" name="model">
          <span class="product-single__three-fake-input"></span>
          <span class="product-single__three-fake-text">ЩУВ1-0,18 с мощностью двигателя 0,2</span>
        </label>
        <label class="product-single__three-label">
          <input class="product-single__three-input" type="radio" name="model">
          <span class="product-single__three-fake-input"></span>
          <span class="product-single__three-fake-text">ЩУВ1-0,18 с мощностью двигателя 0,2</span>
        </label>
        <label class="product-single__three-label">
          <input class="product-single__three-input" type="radio" name="model">
          <span class="product-single__three-fake-input"></span>
          <span class="product-single__three-fake-text">ЩУВ1-0,18 с мощностью двигателя 0,2</span>
        </label>
        <label class="product-single__three-label">
          <input class="product-single__three-input" type="radio" name="model">
          <span class="product-single__three-fake-input"></span>
          <span class="product-single__three-fake-text">ЩУВ1-0,18 с мощностью двигателя 0,2</span>
        </label>
        <label class="product-single__three-label">
          <input class="product-single__three-input" type="radio" name="model">
          <span class="product-single__three-fake-input"></span>
          <span class="product-single__three-fake-text">ЩУВ1-0,18 с мощностью двигателя 0,2</span>
        </label>
        <label class="product-single__three-label">
          <input class="product-single__three-input" type="radio" name="model">
          <span class="product-single__three-fake-input"></span>
          <span class="product-single__three-fake-text">ЩУВ1-0,18 с мощностью двигателя 0,2</span>
        </label>
      </fieldset>
      <p class="product-single__info product-single__info--three">Количество:</p>
      <label class="product-single__count-label">
        <input class="product-single__count" type="number" name="Количество" placeholder="120 шт" min="1">
      </label>
    </fieldset>

    <fieldset class="product-single__button-inner">
      <label class="product-single__price">Цена:
        <input class="product-single__price-input" data-price name="price" value=""><span class="product-single__price-fake-input">1875</span> руб</label>
      <button class="product-single__button" type="submit">Оставить заказ</button>
    </fieldset>
  </form>
</div>