<div class="product-single__item product-single__item--sidebar product-single__item--sidebar-one product-single__sidebar">
  <div class="product-single__sidebar-promo">
    <span class="product-single__promo">в наличии</span>
    <div class="notification notification--one">
      <svg class="product-single__icon notification__icon">
        <use xlink:href="./assets/images/svg/set.svg#product-single-sale"></use>
      </svg>
      <div class="notification__hidden">
          <p class="notification__text">Если нет в наличии то есть стандартные сроки производства, но мы можем сделать экспресс-производство за 5 рабочих дней</p>
      </div>
    </div>
  </div>
  <h1 class="product-single__title">Решетка наружная накладная РНН</h1>
  <p class="product-single__info">Производитель: </p>
  <div class="product-single__maker-inner">
    <p class="product-single__maker-name">AeroTechnoGroup</p>
    <div class="notification">
      <svg class="product-single__icon notification__icon">
        <use xlink:href="./assets/images/svg/set.svg#product-single-sale"></use>
      </svg>
      <div class="notification__hidden notification__hidden--touch">
        <p class="notification__text">У нас имеется своё производство</p>
        <a class="notification__link" href="#">Посмотреть сертификат</a>

      </div>
    </div>
  </div>
  <form class="product-single__form-one">
   <fieldset class="product-single__form-inner">
     <label class="product-single__label-one">
      <span class="product-single__parameter">Длина:
      <span class="notification">
      <svg class="product-single__icon notification__icon">
        <use xlink:href="./assets/images/svg/set.svg#product-single-sale"></use>
      </svg>
      <span class="notification__hidden notification__hidden--form">
          <span class="notification__text">Стандартный шаг 25 мм, при изменении данного параметра +20% к стоимости</span>
      </span>
    </span>
      </span>
       <input class="product-single__parameter-input" type="number" min="1" max="20000" name="length" placeholder="100 мм">
     </label>
     <label class="product-single__label-one">
       <span class="product-single__parameter">Высота:</span>
       <input class="product-single__parameter-input" type="number" min="0" max="200000" step="25" name="height" placeholder="250 мм">
     </label>
   </fieldset>
    <p class="product-single__info">Цвет по каталогу RAL:</p>
    <fieldset class="product-single__choose-wrapper">
      <p class="product-single__choose-text">Выбрать из палитры</p>
      <label class="product-single__choose-label">
        <input class="product-single__choose-input" data-input-color type="color" value="#00A3FF">
        <span class="product-single__fake-color" data-fake-color>
          <span class="product-single__fake-color-internal"></span>
        </span>
      </label>
    </fieldset>
    <p class="product-single__info">Сетка:</p>
    <fieldset class="product-single__checkbox-inner">
      <label class="product-single__checkbox-label">
        <input class="product-single__checkbox-slide" type="checkbox">
        <span class="product-single__fake-checkbox"></span>
      </label>
        <p class="product-single__checkbox-text">Да</p>
    </fieldset>
    <p class="product-single__info">Количество:</p>
    <label class="product-single__count-label">
      <input class="product-single__count" type="number" name="Количество" placeholder="120 шт" min="1">
    </label>
    <fieldset class="product-single__button-inner">
      <label class="product-single__price">Цена:
        <input class="product-single__price-input" data-price name="price" value=""><span class="product-single__price-fake-input">1875</span> руб</label>
      <button class="product-single__button" type="submit">Оставить заказ</button>
    </fieldset>
  </form>
</div>