<section class="card">
    <div class="container">
      <div class="card__title-inner-mobile">
        <h3 class="card__control-title">сопутствующие товары</h3>
        <a class="card__control-link" href="#">смотреть все</a>
      </div>
    </div>
    <div class="card__wrapper">
      <div class="card__control">
        <div class="card__title-inner">
          <h3 class="card__control-title">сопутствующие товары</h3>
          <a class="card__control-link" href="#">смотреть все</a>
        </div>
        <div class="card__swiper-control" data-card-control>
            <div class="card__button card__button--prev" data-card-prev></div>
            <div class="card__swiper-number">
              <div class="card__number card__number--current" data-card-current></div>
              <div class="card__number-separator"></div>
              <div class="card__number card__number--total" data-card-total></div>
            </div>
            <div class="card__button card__button--next" data-card-next></div>
        </div>
      </div>
      <div class="card__swiper swiper" data-card-swiper>
        <div class="card__swiper-wrapper swiper-wrapper">
          <div class="card__slide swiper-slide">
            <div class="card__product product" >
              <div class="product__content">
                <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
                <div class="product__sale">
                  <svg class="product__sale-icon">
                    <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
                  </svg>
                  <span class="product__percent">25%</span>
                </div>
              </div>
              <div class="product__aside">
                <div class="product__price-inner">
                  <svg class="product__notification">
                    <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
                  </svg>
                  <p class="product__price">от <span>27 000</span>руб.</p>
                </div>
                <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
                <p class="product__text">В наличии много</p>
                <a class="product__aside-button" href="#">заказать</a>
              </div>
            </div>
          </div>
          <div class="card__slide swiper-slide">
            <div class="card__product product" >
              <div class="product__content">
                <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
                <div class="product__sale">
                  <svg class="product__sale-icon">
                    <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
                  </svg>
                  <span class="product__percent">25%</span>
                </div>
              </div>
              <div class="product__aside">
                <div class="product__price-inner">
                  <svg class="product__notification">
                    <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
                  </svg>
                  <p class="product__price">от <span>27 000</span>руб.</p>
                </div>
                <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
                <p class="product__text">В наличии много</p>
                <a class="product__aside-button" href="#">заказать</a>
              </div>
            </div>
          </div>
          <div class="card__slide swiper-slide">
            <div class="card__product product" >
              <div class="product__content">
                <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
                <div class="product__sale">
                  <svg class="product__sale-icon">
                    <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
                  </svg>
                  <span class="product__percent">25%</span>
                </div>
              </div>
              <div class="product__aside">
                <div class="product__price-inner">
                  <svg class="product__notification">
                    <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
                  </svg>
                  <p class="product__price">от <span>27 000</span>руб.</p>
                </div>
                <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
                <p class="product__text">В наличии много</p>
                <a class="product__aside-button" href="#">заказать</a>
              </div>
            </div>
          </div>
          <div class="card__slide swiper-slide">
            <div class="card__product product" >
              <div class="product__content">
                <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
                <div class="product__sale">
                  <svg class="product__sale-icon">
                    <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
                  </svg>
                  <span class="product__percent">25%</span>
                </div>
              </div>
              <div class="product__aside">
                <div class="product__price-inner">
                  <svg class="product__notification">
                    <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
                  </svg>
                  <p class="product__price">от <span>27 000</span>руб.</p>
                </div>
                <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
                <p class="product__text">В наличии много</p>
                <a class="product__aside-button" href="#">заказать</a>
              </div>
            </div>
          </div>
          <div class="card__slide swiper-slide">
            <div class="card__product product" >
              <div class="product__content">
                <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
                <div class="product__sale">
                  <svg class="product__sale-icon">
                    <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
                  </svg>
                  <span class="product__percent">25%</span>
                </div>
              </div>
              <div class="product__aside">
                <div class="product__price-inner">
                  <svg class="product__notification">
                    <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
                  </svg>
                  <p class="product__price">от <span>27 000</span>руб.</p>
                </div>
                <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
                <p class="product__text">В наличии много</p>
                <a class="product__aside-button" href="#">заказать</a>
              </div>
            </div>
          </div>
          <div class="card__slide swiper-slide">
            <div class="card__product product" >
              <div class="product__content">
                <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
                <div class="product__sale">
                  <svg class="product__sale-icon">
                    <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
                  </svg>
                  <span class="product__percent">25%</span>
                </div>
              </div>
              <div class="product__aside">
                <div class="product__price-inner">
                  <svg class="product__notification">
                    <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
                  </svg>
                  <p class="product__price">от <span>27 000</span>руб.</p>
                </div>
                <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
                <p class="product__text">В наличии много</p>
                <a class="product__aside-button" href="#">заказать</a>
              </div>
            </div>
          </div>
          <div class="card__slide swiper-slide">
            <div class="card__product product" >
              <div class="product__content">
                <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
                <div class="product__sale">
                  <svg class="product__sale-icon">
                    <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
                  </svg>
                  <span class="product__percent">25%</span>
                </div>
              </div>
              <div class="product__aside">
                <div class="product__price-inner">
                  <svg class="product__notification">
                    <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
                  </svg>
                  <p class="product__price">от <span>27 000</span>руб.</p>
                </div>
                <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
                <p class="product__text">В наличии много</p>
                <a class="product__aside-button" href="#">заказать</a>
              </div>
            </div>
          </div>
          <div class="card__slide swiper-slide">
            <div class="card__product product" >
              <div class="product__content">
                <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
                <div class="product__sale">
                  <svg class="product__sale-icon">
                    <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
                  </svg>
                  <span class="product__percent">25%</span>
                </div>
              </div>
              <div class="product__aside">
                <div class="product__price-inner">
                  <svg class="product__notification">
                    <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
                  </svg>
                  <p class="product__price">от <span>27 000</span>руб.</p>
                </div>
                <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
                <p class="product__text">В наличии много</p>
                <a class="product__aside-button" href="#">заказать</a>
              </div>
            </div>
          </div>
          <div class="card__slide swiper-slide">
            <div class="card__product product" >
              <div class="product__content">
                <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
                <div class="product__sale">
                  <svg class="product__sale-icon">
                    <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
                  </svg>
                  <span class="product__percent">25%</span>
                </div>
              </div>
              <div class="product__aside">
                <div class="product__price-inner">
                  <svg class="product__notification">
                    <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
                  </svg>
                  <p class="product__price">от <span>27 000</span>руб.</p>
                </div>
                <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
                <p class="product__text">В наличии много</p>
                <a class="product__aside-button" href="#">заказать</a>
              </div>
            </div>
          </div>
          <div class="card__slide swiper-slide">
            <div class="card__product product" >
              <div class="product__content">
                <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
                <div class="product__sale">
                  <svg class="product__sale-icon">
                    <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
                  </svg>
                  <span class="product__percent">25%</span>
                </div>
              </div>
              <div class="product__aside">
                <div class="product__price-inner">
                  <svg class="product__notification">
                    <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
                  </svg>
                  <p class="product__price">от <span>27 000</span>руб.</p>
                </div>
                <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
                <p class="product__text">В наличии много</p>
                <a class="product__aside-button" href="#">заказать</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>