<section class="products">
  <div class="container">
    <h1 class="products__title">Радиальные вентиляторы</h1>
    <div class="products__wrapper">
      <div class="products__sidebar-wrapper">
        <aside class="products__sidebar">
          <h2 class="products__sidebar-title">Продукты</h2>
          <div class="products__sidebar-wrapper">
            <ul class="products__sidebar__list">
              <li class="products__sidebar-item">
               <span class="products__sidebar-item-inner">
                <a class="products__sidebar-link" href="#">Промышленные вентиляторы</a>
              <svg class="products__more-icon" data-products-more>
                <use class="products__icon-fill" xlink:href="./assets/images/svg/set.svg#products-arrow"></use>
              </svg>
             </span>
                <ul class="products__sidebar-list-hidden products__sidebar-list-hidden--show" data-products-hidden>
                  <li class="products__sidebar-item-hidden products__sidebar-item-hidden--active"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                </ul>
              </li>
              <li class="products__sidebar-item">
               <span class="products__sidebar-item-inner">
                <a class="products__sidebar-link" href="#">Промышленные вентиляторы</a>
              <svg class="products__more-icon" data-products-more>
                <use class="products__icon-fill" xlink:href="./assets/images/svg/set.svg#products-arrow"></use>
              </svg>
             </span>
                <ul class="products__sidebar-list-hidden" data-products-hidden>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                </ul>
              </li>
              <li class="products__sidebar-item">
               <span class="products__sidebar-item-inner">
                <a class="products__sidebar-link" href="#">Промышленные вентиляторы</a>
              <svg class="products__more-icon" data-products-more>
                <use class="products__icon-fill" xlink:href="./assets/images/svg/set.svg#products-arrow"></use>
              </svg>
             </span>
                <ul class="products__sidebar-list-hidden" data-products-hidden>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                </ul>
              </li>
              <li class="products__sidebar-item">
               <span class="products__sidebar-item-inner">
                <a class="products__sidebar-link" href="#">Промышленные вентиляторы</a>
              <svg class="products__more-icon" data-products-more>
                <use class="products__icon-fill" xlink:href="./assets/images/svg/set.svg#products-arrow"></use>
              </svg>
             </span>
                <ul class="products__sidebar-list-hidden" data-products-hidden>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                </ul>
              </li>
              <li class="products__sidebar-item">
               <span class="products__sidebar-item-inner">
                <a class="products__sidebar-link" href="#">Промышленные вентиляторы</a>
              <svg class="products__more-icon" data-products-more>
                <use class="products__icon-fill" xlink:href="./assets/images/svg/set.svg#products-arrow"></use>
              </svg>
             </span>
                <ul class="products__sidebar-list-hidden" data-products-hidden>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                </ul>
              </li>
              <li class="products__sidebar-item">
               <span class="products__sidebar-item-inner">
                <a class="products__sidebar-link" href="#">Промышленные вентиляторы</a>
              <svg class="products__more-icon" data-products-more>
                <use class="products__icon-fill" xlink:href="./assets/images/svg/set.svg#products-arrow"></use>
              </svg>
             </span>
                <ul class="products__sidebar-list-hidden" data-products-hidden>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                </ul>
              </li>
              <li class="products__sidebar-item">
               <span class="products__sidebar-item-inner">
                <a class="products__sidebar-link" href="#">Промышленные вентиляторы</a>
              <svg class="products__more-icon" data-products-more>
                <use class="products__icon-fill" xlink:href="./assets/images/svg/set.svg#products-arrow"></use>
              </svg>
             </span>
                <ul class="products__sidebar-list-hidden" data-products-hidden>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                </ul>
              </li>
              <li class="products__sidebar-item">
               <span class="products__sidebar-item-inner">
                <a class="products__sidebar-link" href="#">Промышленные вентиляторы</a>
              <svg class="products__more-icon" data-products-more>
                <use class="products__icon-fill" xlink:href="./assets/images/svg/set.svg#products-arrow"></use>
              </svg>
             </span>
                <ul class="products__sidebar-list-hidden" data-products-hidden>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                </ul>
              </li>
              <li class="products__sidebar-item">
               <span class="products__sidebar-item-inner">
                <a class="products__sidebar-link" href="#">Промышленные вентиляторы</a>
              <svg class="products__more-icon" data-products-more>
                <use class="products__icon-fill" xlink:href="./assets/images/svg/set.svg#products-arrow"></use>
              </svg>
             </span>
                <ul class="products__sidebar-list-hidden" data-products-hidden>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                </ul>
              </li>
              <li class="products__sidebar-item">
               <span class="products__sidebar-item-inner">
                <a class="products__sidebar-link" href="#">Промышленные вентиляторы</a>
              <svg class="products__more-icon" data-products-more>
                <use class="products__icon-fill" xlink:href="./assets/images/svg/set.svg#products-arrow"></use>
              </svg>
             </span>
                <ul class="products__sidebar-list-hidden" data-products-hidden>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                </ul>
              </li>
              <li class="products__sidebar-item">
               <span class="products__sidebar-item-inner">
                <a class="products__sidebar-link" href="#">Промышленные вентиляторы</a>
              <svg class="products__more-icon" data-products-more>
                <use class="products__icon-fill" xlink:href="./assets/images/svg/set.svg#products-arrow"></use>
              </svg>
             </span>
                <ul class="products__sidebar-list-hidden" data-products-hidden>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                  <li class="products__sidebar-item-hidden"><a class="products__sidebar-link-hidden" href="#">Радиальные вентиляторы</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </aside>
        <article class="products__stocks">
          <img class="products__stocks-img" src="./assets/images/stock.jpg" alt="Фото акции" ghiw-picture-class="products__stocks-img-inner" width="288" height="144">
          <h3 class="products__stocks-title">Акция на 23 февраля</h3>
          <p class="products__stocks-text">Сделайте своим мужчинам подарок, который они оценят! Получите скидку на промышленную вентиляцию для вашего бизнеса. Закажите прямо сейчас!</p>
          <a class="products__stocks-link" href="#">Посмотреть предложение</a>
        </article>
      </div>

      {{> catalog-common}}
    </div>
  </div>
</section>