<div class="product-single__item product-single__item--swiper">
  <div class="product-single__swiper swiper" data-swiper-big>
    <div class="product-single__swiper-wrapper swiper-wrapper">
      <div class="product-single__swiper-slide swiper-slide">
        <a class="projects__slide-size" data-fancybox="big-slider" data-src="./assets/images/product-single/slider-example.png">
          <img src="./assets/images/product-single/slider-example.png" alt="Слайд" width="600" height="600" ghiw-picture-class="product-single__big-slide">
        </a>

      </div>
      <div class="product-single__swiper-slide swiper-slide">
        <a class="projects__slide-size" data-fancybox="big-slider" data-src="./assets/images/product-single/slider-example.png">
          <img src="./assets/images/product-single/slider-example.png" alt="Слайд" width="600" height="600" ghiw-picture-class="product-single__big-slide">
        </a>

      </div>
      <div class="product-single__swiper-slide swiper-slide">
        <a class="projects__slide-size" data-fancybox="big-slider" data-src="./assets/images/product-single/slider-example.png">
          <img src="./assets/images/product-single/slider-example.png" alt="Слайд" width="600" height="600" ghiw-picture-class="product-single__big-slide">
        </a>

      </div>
      <div class="product-single__swiper-slide swiper-slide">
        <a class="projects__slide-size" data-fancybox="big-slider" data-src="./assets/images/product-single/slider-example.png">
          <img src="./assets/images/product-single/slider-example.png" alt="Слайд" width="600" height="600" ghiw-picture-class="product-single__big-slide">
        </a>

      </div>
      <div class="product-single__swiper-slide swiper-slide">
        <a class="projects__slide-size" data-fancybox="big-slider" data-src="./assets/images/product-single/slider-example.png">
          <img src="./assets/images/product-single/slider-example.png" alt="Слайд" width="600" height="600" ghiw-picture-class="product-single__big-slide">
        </a>

      </div>
    </div>
    <div class="product-single__control-inner">
      <div class="product-single__swiper-button product-single__swiper-button--prev" data-big-prev></div>
      <div class="product-single__swiper-button product-single__swiper-button--next" data-big-next></div>
    </div>
    <span class="product-single__sale">-25%</span>
  </div>
  <div class="product-single__thumbs swiper" data-swiper-thumb>
    <div class="product-single__thumbs-wrapper swiper-wrapper">
      <div class="product-single__thumbs-slide swiper-slide">
        <img src="./assets/images/product-single/thumb-example.png" alt="Миниатюра">
      </div>
      <div class="product-single__thumbs-slide swiper-slide">
        <img src="./assets/images/product-single/thumb-example.png" alt="Миниатюра">
      </div>
      <div class="product-single__thumbs-slide swiper-slide">
        <img src="./assets/images/product-single/thumb-example.png" alt="Миниатюра">
      </div>
      <div class="product-single__thumbs-slide swiper-slide">
        <img src="./assets/images/product-single/thumb-example.png" alt="Миниатюра">
      </div>
      <div class="product-single__thumbs-slide swiper-slide">
        <img src="./assets/images/product-single/thumb-example.png" alt="Миниатюра">
      </div>
    </div>
  </div>
</div>




