<footer class="footer">
  <div class="container">
    <img class="logo" src="./assets/images/logo/logo.png" alt="Логотип" ghiw-picture-class="footer__logo-picture footer__logo-picture--mobile logo-picture">
    <div class="footer__wrapper">
      <div class="footer__contact-inner">
        <img class="logo" src="./assets/images/logo/logo.png" alt="Логотип" ghiw-picture-class="footer__logo-picture logo-picture">
        <a class="footer__link" href="tel:{{data.phoneHref}}">{{data.phone}}</a>
        <p class="footer__contact-text footer__contact-text--indent">Бесплатный звонок <br> по России</p>
        <a class="footer__link" href="mailto:{{data.email}}">{{data.email}}</a>
        <p class="footer__contact-text">Напишите нам</p>
      </div>
      <div class="footer__list-row">
        <div class="footer__list-wrapper">
          <div class="footer__list-inner">
            <h3 class="footer__list-title">О компании</h3>
            <ul class="footer__list">
              <li class="footer__item"><a class="footer__list-link" href="#">Общая информация </a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Организация</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Производство</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Лабаротория</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Гарантии</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Документы</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Политика компании</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__list-wrapper">
          <div class="footer__list-inner">
            <h3 class="footer__list-title">Клиентам</h3>
            <ul class="footer__list">
              <li class="footer__item"><a class="footer__list-link" href="#">Прайс - лист</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Полезная информация</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Партнёрам</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Карьера</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Контакты</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__list-wrapper">
          <div class="footer__list-inner">
            <h3 class="footer__list-title">Каталог товаров</h3>
            <ul class="footer__list">
              <li class="footer__item"><a class="footer__list-link" href="#">Промышленные вентиляторы</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Автоматика</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Вентиляционные решетки</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Клапаны и заслонки</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Детали систем вентиляции</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__list-wrapper">
          <div class="footer__list-inner">
            <ul class="footer__list">
              <li class="footer__item"><a class="footer__list-link" href="#">Тепло-вентиляционное оборудование</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Огнезадерживающие клапаны</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Приточно-вытяжные установки</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Комплектующие для вентиляции</a></li>
              <li class="footer__item"><a class="footer__list-link" href="#">Комплектующие для кондиционирования</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__callback-inner">
      <p class="footer__callback-text">Производим 24/365 <br> Продаём с 08:00 до 18:00 с Пн. по Пт.</p>
      <button class="footer__callback-button">перезвоните мне</button>
    </div>
    <div class="footer__bottom">
      <a class="footer__bottom-info" href="#">Политика конфиденциальности</a> <a class="footer__bottom-info" href="#">Сайт создан и разработан</a>
    </div>
  </div>
</footer>