<section class="tabs" data-tabs>

  <div class="tabs__trigger-inner">
    <button class="tabs__trigger tabs-active" data-tabs-btn type="button">Описание</button>
    <button class="tabs__trigger " data-tabs-btn type="button">Чертёж</button>
    <button class="tabs__trigger " data-tabs-btn type="button">Производство</button>
    <button class="tabs__trigger " data-tabs-btn type="button">сертификаты</button>
    <button class="tabs__trigger " data-tabs-btn type="button">Отзывы</button>
  </div>
  <div class="container">
    <div class="tabs__content-inner tabs__content-inner--description tabs-pane-show" data-tabs-pane>
      <p>Решетка наружная накладная</p>
      <p>Решетки РНН выполнены из алюминиевого профиля. Данные решетки используются при монтаже вентиляционных и воздушно-отопительных систем, крепится на воздуховоды, строительные проемы, клапана дымоудаления без посадочного места.</p>
      <p>Данные вид решеток крепится непосредственно на перегородку или на стену. Размеры таких решеток являются габаритными.</p>
      <p>Все решетки защищены высококачественным порошковым-полиэфирным покрытием. Стандартный цвет белый RAL 9016 (также возможна покраска в любой другой цвет по каталогу RAL)</p>
      <span></span>
      <ul>
        <li>Общественные, административные и жилые помещения</li>
        <li>Учебные и медицинские учреждения</li>
        <li>Промышленные и коммерческие предприятия</li>
        <li>Монтаж данной решетки осуществляется с помощью саморезов или специальных упругих защелок.</li>
      </ul>
      <p>Возможно изготовление решетки нестандартных размеров по индивидуальному заказу.</p>
    </div>
    <div class="tabs__content-inner" data-tabs-pane>
      <a class="tabs__plane" data-fancybox="tabs-plane" data-src="./assets/images/tabs/tabs-plane.jpg"> <img src="./assets/images/tabs/tabs-plane.jpg" alt="Слайд" width="910" height="645" ghiw-picture-class="tabs__plane-img"> </a>
    </div>
    <div class="tabs__content-inner tabs__content-inner--build" data-tabs-pane>
      <h4>Производство вентиляционных решеток и воздушных клапанов</h4>
      <p>Компания AeroTechnoGroup была основана в 2016 году в Нижнем Новгороде. Большой опыт поставок вентиляционного оборудования стал основой для запуска собственного производства. Мы разрабатываем востребованные изделия высокого качества, постоянно анализируем спрос, расширяем ассортимент и работаем по индивидуальному заказу.</p>
      <p>Цикл производства выстроен таким образом, что каждый этап следует логично один за другим. Оптимизация процессов позволяет нам предлагать товар высокого качества по доступным ценам.</p>
      <a href="#">подробнее</a>
      <div>
        <img src="./assets/images/tabs/bilding/1.jpg" alt="Производство" width="335" height="192"> <img src="./assets/images/tabs/bilding/2.jpg" alt="Производство" width="335" height="192"> <img src="./assets/images/tabs/bilding/3.jpg" alt="Производство" width="335" height="192"> <img src="./assets/images/tabs/bilding/4.jpg" alt="Производство" width="335" height="192">
      </div>
      <h4>Преимущества вентиляционных решеток и воздушных клапанов AeroTechnoGroup</h4>
      <ul>
        <li>Точная геометрия за счет европейского оборудования и технологий производства</li>
        <li>Высокое качество сырья и надежность готовых изделий</li>
        <li>Умное покрытие порошковой краской IbaKimya</li>
        <li>Полный спектр цветов по каталогу RAL</li>
        <li>Гарантия 24 месяца</li>
      </ul>
    </div>
    <div class="tabs__content-inner tabs__content-inner--certificates" data-tabs-pane>
      <div class="swiper" data-tabs-certificates>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0001.jpg"> <img src="./assets/images/tabs/page-0001.jpg" alt="Слайд" width="264" height="374"> </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0002.jpg"> <img src="./assets/images/tabs/page-0002.jpg" alt="Слайд" width="264" height="374"> </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0001.jpg"> <img src="./assets/images/tabs/page-0001.jpg" alt="Слайд" width="264" height="374"> </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0002.jpg"> <img src="./assets/images/tabs/page-0002.jpg" alt="Слайд" width="264" height="374"> </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0001.jpg"> <img src="./assets/images/tabs/page-0001.jpg" alt="Слайд" width="264" height="374"> </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0002.jpg"> <img src="./assets/images/tabs/page-0002.jpg" alt="Слайд" width="264" height="374"> </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0001.jpg"> <img src="./assets/images/tabs/page-0001.jpg" alt="Слайд" width="264" height="374"> </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0002.jpg"> <img src="./assets/images/tabs/page-0002.jpg" alt="Слайд" width="264" height="374"> </a>
          </div>
        </div>
      </div>
      <div class="tabs__swiper-control" data-certificates-control>
        <div class="tabs__button tabs__button--prev" data-certificates-prev></div>
        <div class="tabs__swiper-number">
          <div class="tabs__number tabs__number--current" data-certificates-current></div>
          <div class="tabs__number-separator"></div>
          <div class="tabs__number tabs__number--total" data-certificates-total></div>
        </div>
        <div class="card__button card__button--next" data-certificates-next></div>
      </div>
    </div>
    <div class="tabs__content-inner tabs__content-inner--reviews" data-tabs-pane>
      <p class="tabs__content-reviews">
        На данный товар пока нет отзывов
      </p>
      <!--
      <div class="tabs__reviews-tabs" style="width:560px;height:800px;overflow:hidden;position:relative;">
        <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/1891947544?comments">
        </iframe>
        <a href="https://yandex.ru/maps/org/aerotekhnogrupp/1891947544/" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">Аэротехногрупп на карте Нижнего Новгорода — Яндекс Карты</a></div>
      -->
    </div>
  </div>
</section>