<section class="tabs tabs--two" data-tabs>

    <div class="tabs__trigger-inner">
      <button class="tabs__trigger tabs-active" data-tabs-btn type="button">Описание</button>
      <button class="tabs__trigger" data-tabs-btn type="button">Характеристики</button>
      <button class="tabs__trigger" data-tabs-btn type="button">Размеры</button>
      <button class="tabs__trigger" data-tabs-btn type="button">графика</button>
      <button class="tabs__trigger" data-tabs-btn type="button">Отзывы</button>
    </div>
  <div class="container">
    <div class="tabs__content-inner tabs__content-inner--description tabs-pane-show" data-tabs-pane>
      <p>С целью обеспечения помещений принудительным воздухообменом в зданиях разного назначения используется радиальный вентилятор низкого давления. Устройство активно применяется при установке вентиляции в общественном, производственном, административном, складском или другом виде зданий. Часто используется в качестве компонентов вытяжных или приточных канальных и бесканальных систем вентиляции. В компании Аэротехногрупп Вы можете заказать вентиляторы низкого давления под любой выпускаемой маркировкой: ВЦ 4-75, 4-70, ВР 80-75, ВР 86-77.</p>
      <h3>Применение вентиляторов низкого давления</h3>
      <p>Использование данного вентиляционного оборудования одностороннего всасывания возможно при условии наличия нормальной рабочей атмосферы. Она считается таковой, если воздух был предварительно очищен, или газовоздушные смеси с температурой не выше +80°С без взрывоопасных, пожароопасных составляющих, химических веществ с агрессивными свойствами. При невозможности соблюдения таких условий оптимальным будет применение специальных вентиляторов. Они должны быть теплостойкими, защищёнными от взрывов, антикоррозийными или использоваться в комбинированных вариантах. Допустимым пределом считается наличие в воздухе пыли, взвешенных включений в количестве 0,1 г/м3.</p>
      <h3>Конструктивные особенности вентилятора низкого давления</h3>
      <p>Вентилятор низкого давления представляет собой сварную станину ли сборную с размещённым на ней спирально-поворотным корпусом, во внутренней части которого установлены рабочее колесо с электроприводом. Производитель предлагает покупателям данное оборудование в специальной упаковке, уже подготовленное к монтажу. Вентилятор нужно монтировать на железобетонном основании либо металлической конструкции перекрытия, так как требуется жёсткий фундамент с оптимальной несущей способностью. В качестве элементов крепления используется анкерный крепёж. Чтобы снизить вибрации, которые производит работающий агрегат, специалисты советуют пользоваться виброизоляционными опорами (в базовой комплектации они отсутствуют). Для удобства установку спирально-поворотного корпуса следует выполнять таким образом, чтобы он встал под 45-градусным углом по отношению к выходному воздуховоду. К корпусу воздуховоды подсоединяются с помощью фланцев с отверстиями.</p>
      <h3>Условия эксплуатации</h3>
      <p>Устройства данного вида предназначены для использования при температуре -40°С – +40°С в местах, где климат умеренный. При этом должны применяться вторая и третья категория размещения. Возможно функционирование вентилятора и по первой категории, если обеспечена защита привода от негативных атмосферных явлений (дождь, снег, прямое действие ультрафиолета).
        Существуют 10 типоразмеров данных агрегатов. Для их изготовления в базовой комплектации используется конструкционная низкоуглеродистая сталь.
        <br>К вентиляторам специального исполнения относятся следующие виды:
        <br> · теплостойкие (с рабочей температурой в пределах +200°С);
        <br> · взрывозащитные;
        <br> · коррозионностойкие;
        <br> · имеющие комбинацию вышеперечисленных исполнений.
      </p>
      <h3>Заказывайте вентиляторы низкого давления у нас</h3>
      <p>Предлагаем купить вентиляторы низкого давления любого типа в нашей компании по доступной цене. Обращайтесь!</p>
    </div>

    <div class="tabs__content-inner tabs__content-inner--specifications" data-tabs-pane>
      {{> table-specifications}}
    </div>

    <div class="tabs__content-inner tabs__content-inner--sizes" data-tabs-pane data-horizontal>
      <div>
        <img src="./assets/images/tabs/sizes/1.png" alt="Производство" width="254" height="264" loading="lazy">
        <img src="./assets/images/tabs/sizes/2.png" alt="Производство" width="254" height="264" loading="lazy">
        <img src="./assets/images/tabs/sizes/3.png" alt="Производство" width="254" height="264" loading="lazy">
        <img src="./assets/images/tabs/sizes/4.png" alt="Производство" width="254" height="264" loading="lazy">
      </div>
      <h3>Габаритные и присоединительные размеры вентиляторов низкого давления исп-1</h3>
      {{> table-sizes}}
    </div>

    <div class="tabs__content-inner tabs__content-inner--certificates" data-tabs-pane>
      <div class="swiper" data-tabs-certificates>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0001.jpg">
              <img src="./assets/images/tabs/page-0001.jpg" alt="Слайд" width="264" height="374">
            </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0002.jpg">
              <img src="./assets/images/tabs/page-0002.jpg" alt="Слайд" width="264" height="374">
            </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0001.jpg">
              <img src="./assets/images/tabs/page-0001.jpg" alt="Слайд" width="264" height="374">
            </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0002.jpg">
              <img src="./assets/images/tabs/page-0002.jpg" alt="Слайд" width="264" height="374">
            </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0001.jpg">
              <img src="./assets/images/tabs/page-0001.jpg" alt="Слайд" width="264" height="374">
            </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0002.jpg">
              <img src="./assets/images/tabs/page-0002.jpg" alt="Слайд" width="264" height="374">
            </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0001.jpg">
              <img src="./assets/images/tabs/page-0001.jpg" alt="Слайд" width="264" height="374">
            </a>
          </div>
          <div class="swiper-slide">
            <a data-fancybox="tabs-certificates" data-src="./assets/images/tabs/page-0002.jpg">
              <img src="./assets/images/tabs/page-0002.jpg" alt="Слайд" width="264" height="374">
            </a>
          </div>
        </div>
      </div>
      <div class="tabs__swiper-control" data-certificates-control>
        <div class="tabs__button tabs__button--prev" data-certificates-prev></div>
        <div class="tabs__swiper-number">
          <div class="tabs__number tabs__number--current" data-certificates-current></div>
          <div class="tabs__number-separator"></div>
          <div class="tabs__number tabs__number--total" data-certificates-total></div>
        </div>
        <div class="card__button card__button--next" data-certificates-next></div>
      </div>
    </div>

    <div class="tabs__content-inner tabs__content-inner--reviews" data-tabs-pane>
<!--      <p class="tabs__content-reviews">-->
<!--        На данный товар пока нет отзывов-->
<!--      </p>-->

      <div class="tabs__reviews-tabs loading">
        <iframe style="width:100%;height:550px;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box"
                data-src-iframe="https://yandex.ru/maps-reviews-widget/1891947544?comments">
        </iframe>
      </div>

    </div>
  </div>
</section>