<section class="blog-inside">
  <div class="container">
    <h1>Виды систем вентиляции и их классификация</h1>
    <img src="./assets/images/blog-inside/1.jpg" alt="Фото" width="1400" height="648 ">
    <p>Нет свежего воздуха дома, в офисе – комфортного отдыха. По иным параметрам, например, эргономическим комфорт также отсутствует.</p>
    <p>Что такое вентиляция в доме? – Это воздух, полноценный и природный, обогащенный озоном, не затхлый, застоявшийся в герметичном помещении. В большинстве домов, в офисах, в местах массовых скоплений людей отсутствует нормальный воздухообмен.</p>
    <hr>
    <p>Стоит открыть лишь форточку? – Возникает новая проблема: загазованность, пыль, шум, сквозняк.</p>
    <p>Тогда установить кондиционеры повсеместно? – Обременительно, хлопотно, сквозняки… Лучший выход – установить полноценную, устойчиво работающую вентиляцию, которая создаст условия качественной жизнедеятельности, обеспечит полноценную циркуляцию, оптимальную температуру, влажность. Решаем проблему в доме комплексно, навсегда.</p>
    <div>
      <img src="./assets/images/blog-inside/2.jpg" alt="Фото" width="686" height="384">
      <img src="./assets/images/blog-inside/3.jpg" alt="Фото" width="686" height="384">
    </div>
    <h2>Канальная или бесканальная вентиляция</h2>
    <span>Канальную или бесканальная вентиляцию? Система вентилирования имеет распределенную сеть воздуховодов, перемещающих воздух (это канальные системы), либо воздуховоды (каналы) отсутствуют. В последнем случае часто устанавливают вентилятор в стене (перекрытии), если работает естественная вентиляция. Механическая приточная система состоит из:</span>
    <ul>
      <li>воздухозаборной решетки;</li>
      <li>воздушного клапана;</li>
      <li>фильтра (очищает и защищает, основной - грубой очистки, есть и тонкой); воздухонагревателя;</li>
      <li>шумоглушителя (особенность вентилятора – шум);</li>
      <li>вентилятора подачи воздуха (регулирования давления);</li>
      <li>воздуховодов, распределителей, регуляторов и автоматики</li>
    </ul>
    <h2>Выбор вентиляционной компании</h2>
    <span>Выбираем компанию производителя-установщика вентиляционной системы только опытную, успевшую выполнить сложные процедуры для заказчиков. Это защитит от многих непроизводительных забот – и это сотрудничество всегда приятное. Вы минимизируете стоимость работ, затрат времени. За качеством работ всегда осуществляется контроль. Система будет устойчива к всевозможным средам (также агрессивным).</span>
    <div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120" fill="none">
          <path d="M60 20C65.3043 20 70.3914 22.1071 74.1421 25.8579C77.8929 29.6086 80 34.6957 80 40C80 45.3043 77.8929 50.3914 74.1421 54.1421C70.3914 57.8929 65.3043 60 60 60C54.6957 60 49.6086 57.8929 45.8579 54.1421C42.1071 50.3914 40 45.3043 40 40C40 34.6957 42.1071 29.6086 45.8579 25.8579C49.6086 22.1071 54.6957 20 60 20ZM60 70C82.1 70 100 78.95 100 90V100H20V90C20 78.95 37.9 70 60 70Z" fill="white"/>
        </svg>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur. Sit ullamcorper sit risus aliquam. Sapien dignissim a lectus lorem sapien pulvinar nec pharetra. Bibendum nulla nunc nunc ac. Quam pellentesque dictumst a vestibulum eu.Lorem ipsum dolor sit amet consectetur. Sit ullamcorper sit risus aliquam. Sapien dignissim a lectus lorem sapien pulvinar nec pharetra. Bibendum nulla nunc nunc ac. Quam pellentesque dictumst a vestibulum eu.Lorem ipsum dolor sit amet consectetur. Sit ullamcorper sit risus aliquam. Sapien dignissim a lectus lorem sapien pulvinar nec pharetra. Bibendum nulla nunc nunc ac. Quam pellentesque dictumst a vestibulum eu.</p>
      <p>Имя Фамилия</p>
      <p><em>Должность ген. директор</em></p>
    </div>
  </div>
</section>