<section class="popular">
  <div class="popular__container container">
    <div class="popular__control-wrapper">
      <h2 class="popular__title">Популярные статьи</h2>
      <div class="popular__button-inner">
        <div class="popular__swiper-button popular__swiper-button--prev" data-popular-prev="" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-aa24245f36a421038" aria-disabled="false"></div>
        <div class="popular__swiper-button popular__swiper-button--next swiper-button-disabled" data-popular-next="" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-aa24245f36a421038" aria-disabled="true"></div>
      </div>
    </div>
    <div class="popular__swiper swiper" data-popular-swiper>
      <div class="popular__swiper-wrapper swiper-wrapper">
        <div class="popular__slide swiper-slide">
          <a class="blog-news" href="blog-inside-page.html" data-bg="./assets/images/popular/1.jpg" data-bg-webp="./assets/images/popular/1.webp">
            <span class="blog-news__description">Новость</span>
            <h3 class="blog-news__item-title">Производство воздуховодов</h3>
            <p class="blog-news__item-text ">
              Среднее по размеру описание новости или статьи
            </p>
            <div class="blog-news__item-button-wrapper">
              <time class="blog-news__date">01.02.2022</time>
              <div class="blog-news__duration-wrapper">
                <span class="blog-news__number blog-news__number--duration">3 мин</span> <span class="blog-news__number blog-news__number--view">345</span>
              </div>
            </div>
          </a>
        </div>
        <div class="popular__slide swiper-slide">
          <a class="blog-news" href="blog-inside-page.html" data-bg="./assets/images/popular/2.jpg" data-bg-webp="./assets/images/popular/2.webp">
            <span class="blog-news__description">Новость</span>
            <h3 class="blog-news__item-title">Производство воздуховодов</h3>
            <p class="blog-news__item-text ">
              Среднее по размеру описание новости или статьи
            </p>
            <div class="blog-news__item-button-wrapper">
              <time class="blog-news__date">01.02.2022</time>
              <div class="blog-news__duration-wrapper">
                <span class="blog-news__number blog-news__number--duration">3 мин</span> <span class="blog-news__number blog-news__number--view">345</span>
              </div>
            </div>
          </a>
        </div>
        <div class="popular__slide swiper-slide">
          <a class="blog-news" href="blog-inside-page.html" data-bg="./assets/images/popular/3.jpg" data-bg-webp="./assets/images/popular/3.webp">
            <span class="blog-news__description">Новость</span>
            <h3 class="blog-news__item-title">Производство воздуховодов</h3>
            <p class="blog-news__item-text ">
              Среднее по размеру описание новости или статьи
            </p>
            <div class="blog-news__item-button-wrapper">
              <time class="blog-news__date">01.02.2022</time>
              <div class="blog-news__duration-wrapper">
                <span class="blog-news__number blog-news__number--duration">3 мин</span> <span class="blog-news__number blog-news__number--view">345</span>
              </div>
            </div>
          </a>
        </div>
        <div class="popular__slide swiper-slide">
          <a class="blog-news" href="blog-inside-page.html" data-bg="./assets/images/popular/2.jpg" data-bg-webp="./assets/images/popular/2.webp">
            <span class="blog-news__description">Новость</span>
            <h3 class="blog-news__item-title">Производство воздуховодов</h3>
            <p class="blog-news__item-text ">
              Среднее по размеру описание новости или статьи
            </p>
            <div class="blog-news__item-button-wrapper">
              <time class="blog-news__date">01.02.2022</time>
              <div class="blog-news__duration-wrapper">
                <span class="blog-news__number blog-news__number--duration">3 мин</span> <span class="blog-news__number blog-news__number--view">345</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>