<section class="problem">
  <div class="container">
    <div class="problem__wrapper">
      <div class="problem__item">
        <form class="form-second form-second--problem">
          <fieldset class="form-second__inner">
            <legend class="form-second__title">Остались вопросы?</legend>
            <p class="form-second__text">Напишите их в этой форме и мы ответим. В таком стиле, а <br> не просто консультация.</p>
            <fieldset class="form-second__contact-inner">
              <div class="form-second__problem">
                <label class="form-second__label form-second__label--input"> <input type="text" class="form-second__input" placeholder="Ваше имя" name="Имя" required></label>
                <label class="form-second__label form-second__label--input"> <input type="tel" class="form-second__input" placeholder="Номер телефона" name="Телефон" required></label>
              </div>
              <label class="form-second__label form-second__label--textarea"> <textarea class="form-second__input form-second__textarea" placeholder="Комментарий" name="Вопрос" required></textarea> </label>
            </fieldset>

            <fieldset class="form-second__button-inner">
              <button class="form-second__button" type="submit">Получить консультацию</button>
              <label class="form-second__politic-label"> <input class="form-second__checkbox" type="checkbox" name="принять политику конфиденциальности" checked required>
                <span class="form-second__fake-checkbox"></span> <span class="form-second__politic">Я согласен на обработку <a class="form-second__politic-color" href="#">персональных данных</a></span> </label>
            </fieldset>
          </fieldset>
        </form>
      </div>
      <div class="problem__item problem__item--img">
        <img src="./assets/images/faq/1.jpg" alt="Фото" phiw-picture-class="problem__img-inner">
      </div>
    </div>
  </div>
</section>