<section class="questions questions--faq">
  <div class="container">
    <div class="questions__box-wrapper">
      <div class="questions__box-item">
        <h2 class="questions__title">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
        <div class="questions__wrapper">
          <div class="questions__item">
            <p class="questions__quest questions__quest--active" data-trigger>Нужна ли вентиляция для нашего помещения?
              <svg class="questions__svg">
                <use class="questions__svg-fill" xlink:href="./assets/images/svg/set.svg#questions-arrow"></use>
              </svg>
            </p>
            <div class="questions__answer-inner questions__answer-inner--active" data-target>
              <p class="questions__answer-title">Ответ:</p>
              <p class="questions__answer-text">Нужно знать назначение и тз по эксплуатации помещения. С помощью этой информации мы предложим варианты от естественного воздухообмена до многофункциональной приточно-вытяжной системы</p>
            </div>
          </div>
          <div class="questions__item">
            <p class="questions__quest" data-trigger>Нужна ли вентиляция для нашего помещения?
              <svg class="questions__svg">
                <use class="questions__svg-fill" xlink:href="./assets/images/svg/set.svg#questions-arrow"></use>
              </svg>
            </p>
            <div class="questions__answer-inner" data-target>
              <p class="questions__answer-title">Ответ:</p>
              <p class="questions__answer-text">Нужно знать назначение и тз по эксплуатации помещения. С помощью этой информации мы предложим варианты от естественного воздухообмена до многофункциональной приточно-вытяжной системы</p>
            </div>
          </div>
          <div class="questions__item">
            <p class="questions__quest" data-trigger>Нужна ли вентиляция для нашего помещения?
              <svg class="questions__svg">
                <use class="questions__svg-fill" xlink:href="./assets/images/svg/set.svg#questions-arrow"></use>
              </svg>
            </p>
            <div class="questions__answer-inner" data-target>
              <p class="questions__answer-title">Ответ:</p>
              <p class="questions__answer-text">Нужно знать назначение и тз по эксплуатации помещения. С помощью этой информации мы предложим варианты от естественного воздухообмена до многофункциональной приточно-вытяжной системы</p>
            </div>
          </div>
          <div class="questions__item">
            <p class="questions__quest" data-trigger>Нужна ли вентиляция для нашего помещения?
              <svg class="questions__svg">
                <use class="questions__svg-fill" xlink:href="./assets/images/svg/set.svg#questions-arrow"></use>
              </svg>
            </p>
            <div class="questions__answer-inner" data-target>
              <p class="questions__answer-title">Ответ:</p>
              <p class="questions__answer-text">Нужно знать назначение и тз по эксплуатации помещения. С помощью этой информации мы предложим варианты от естественного воздухообмена до многофункциональной приточно-вытяжной системы</p>
            </div>
          </div>
          <div class="questions__item">
            <p class="questions__quest" data-trigger>Нужна ли вентиляция для нашего помещения?
              <svg class="questions__svg">
                <use class="questions__svg-fill" xlink:href="./assets/images/svg/set.svg#questions-arrow"></use>
              </svg>
            </p>
            <div class="questions__answer-inner" data-target>
              <p class="questions__answer-title">Ответ:</p>
              <p class="questions__answer-text">Нужно знать назначение и тз по эксплуатации помещения. С помощью этой информации мы предложим варианты от естественного воздухообмена до многофункциональной приточно-вытяжной системы</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

