<div class="catalog-common">
  <button class="catalog-common__mobile-catalog"><svg class="catalog-common__icon"><use class="catalog-common__icon-color" xlink:href="./assets/images/svg/set.svg#catalog-common-mobile"></use></svg>Продукты</button>
  <div class="catalog-common__inner">

    <div class="catalog-common__item product" >
      <div class="product__content">
        <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
        <div class="product__sale">
          <svg class="product__sale-icon">
            <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
          </svg>
          <span class="product__percent">25%</span>
        </div>
      </div>
      <div class="product__aside">
        <div class="product__price-inner">
          <svg class="product__notification">
            <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
          </svg>
          <p class="product__price">от <span>27 000</span>руб.</p>
        </div>
        <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
        <p class="product__text">В наличии много</p>
        <a class="product__aside-button" href="product-card-one.html">заказать</a>
      </div>
    </div>
    <div class="catalog-common__item product" >
      <div class="product__content">
        <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
        <div class="product__sale">
          <svg class="product__sale-icon">
            <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
          </svg>
          <span class="product__percent">25%</span>
        </div>
      </div>
      <div class="product__aside">
        <div class="product__price-inner">
          <svg class="product__notification">
            <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
          </svg>
          <p class="product__price">от <span>27 000</span>руб.</p>
        </div>
        <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
        <p class="product__text">Нет в наличии</p>
        <a class="product__aside-button" href="product-card-two.html">заказать</a>
      </div>
    </div>
    <div class="catalog-common__item product" >
      <div class="product__content">
        <img class="product__img" src="./assets/images/catalog-common-content.png" alt="Фото" width="260" height="218">
        <div class="product__sale">
          <svg class="product__sale-icon">
            <use xlink:href="./assets/images/svg/set.svg#products-sale"></use>
          </svg>
          <span class="product__percent">25%</span>
        </div>
      </div>
      <div class="product__aside">
        <div class="product__price-inner">
          <svg class="product__notification">
            <use xlink:href="./assets/images/svg/set.svg#products-notification"></use>
          </svg>
          <p class="product__price">от <span>27 000</span>руб.</p>
        </div>
        <h3 class="product__aside-title">Вентилятор ВЦ 5-35</h3>
        <p class="product__text product__text--color">В наличии <span>3</span>шт</p>
        <a class="product__aside-button" href="product-card-three.html">заказать</a>
      </div>
    </div>
  </div>
  <div class="catalog-common__pagination">
    <div class="catalog-common__pagination-item">1</div>
    <div class="catalog-common__pagination-item catalog-common__pagination-item--active">2</div>
    <div class="catalog-common__pagination-item">...</div>
    <div class="catalog-common__pagination-item">4</div>

    <div class="catalog-common__pagination-item catalog-common__pagination-arrow catalog-common__pagination-arrow--prev"></div>
    <div class="catalog-common__pagination-item catalog-common__pagination-arrow catalog-common__pagination-arrow--next"></div>
  </div>
</div>

