<section class="blog-page">
  <div class="container">
    <h1 class="blog-page__title">Блог</h1>
    <div class="blog-page__wrapper">
      <article class="blog-page__filter filter">
        <p class="filter__subtitle">Фильтровать по: </p>
        <div class="blog-page__filter-body filter__body" data-type-body>
          <button class="filter__item active" type="button" data-filter-type="Все">Все</button>
          <button class="filter__item" type="button" data-filter-type="Статья">Статья</button>
          <button class="filter__item" type="button" data-filter-type="Новость">Новость</button>
          <button class="filter__item" type="button" data-filter-type="Совет специалиста">Совет специалиста</button>
          <button class="filter__item" type="button" data-filter-type="Обзор">Обзор</button>
          <button class="filter__item" type="button" data-filter-type="Интервью">Интервью</button>
        </div>
      </article>
      <div class="blog-page__blogs-inner" data-target-body>
        <a class="blog-page__item" href="blog-inside-page.html" data-filter-target="Новость" data-bg="./assets/images/blog-page/1.jpg" data-bg-webp="./assets/images/blog-page/1.webp">
          <span class="blog-page__description">Новость</span>
          <h3 class="blog-page__item-title">Производство воздуховодов</h3>
          <p class="blog-page__item-text ">
            Среднее по размеру описание новости или статьи
          </p>
          <div class="blog-page__item-button-wrapper">
            <time class="blog-page__date">01.02.2022</time>
            <div class="blog-page__duration-wrapper">
              <span class="blog-page__number blog-page__number--duration">3 мин</span> <span class="blog-page__number blog-page__number--view">345</span>
            </div>
          </div>
        </a>
        <a class="blog-page__item" href="#" data-filter-target="Совет специалиста" data-bg="./assets/images/blog-page/2.jpg" data-bg-webp="./assets/images/blog-page/2.webp">
          <span class="blog-page__description">Мнение эксперта</span>
          <h3 class="blog-page__item-title">Слуховые окна и наружные решетки для дома</h3>
          <p class="blog-page__item-text ">
            Среднее по размеру описание новости или статьи
          </p>
          <div class="blog-page__item-button-wrapper">
            <time class="blog-page__date">01.02.2022</time>
            <div class="blog-page__duration-wrapper">
              <span class="blog-page__number blog-page__number--duration">3 мин</span> <span class="blog-page__number blog-page__number--view">345</span>
            </div>
          </div>
        </a>
        <a class="blog-page__item" href="#" data-filter-target="Совет специалиста" data-bg="./assets/images/blog-page/3.jpg" data-bg-webp="./assets/images/blog-page/3.webp">
          <span class="blog-page__description">Мнение эксперта</span>
          <h3 class="blog-page__item-title">Производство воздуховодов</h3>
          <p class="blog-page__item-text ">
            Среднее по размеру описание новости или статьи
          </p>
          <div class="blog-page__item-button-wrapper">
            <time class="blog-page__date">01.02.2022</time>
            <div class="blog-page__duration-wrapper">
              <span class="blog-page__number blog-page__number--duration">3 мин</span> <span class="blog-page__number blog-page__number--view">345</span>
            </div>
          </div>
        </a>
        <a class="blog-page__item" href="#" data-filter-target="Статья" data-bg="./assets/images/blog-page/4.jpg" data-bg-webp="./assets/images/blog-page/4.webp">
          <span class="blog-page__description">Статья</span>
          <h3 class="blog-page__item-title">Производство воздуховодов</h3>
          <p class="blog-page__item-text ">Среднее по размеру описание новости или статьи  Среднее по размеру описание новости или статьи</p>
          <div class="blog-page__item-button-wrapper">
            <time class="blog-page__date">01.02.2022</time>
            <div class="blog-page__duration-wrapper">
              <span class="blog-page__number blog-page__number--duration">3 мин</span> <span class="blog-page__number blog-page__number--view">345</span>
            </div>
          </div>
        </a>
        <a class="blog-page__item" href="#" data-filter-target="Обзор" data-bg="./assets/images/blog-page/5.jpg" data-bg-webp="./assets/images/blog-page/6.webp">
          <span class="blog-page__description">Обзор</span>
          <h3 class="blog-page__item-title">Производство воздуховодов</h3>
          <p class="blog-page__item-text ">
            Среднее по размеру описание новости или статьи
          </p>
          <div class="blog-page__item-button-wrapper">
            <time class="blog-page__date">01.02.2022</time>
            <div class="blog-page__duration-wrapper">
              <span class="blog-page__number blog-page__number--duration">3 мин</span> <span class="blog-page__number blog-page__number--view">345</span>
            </div>
          </div>
        </a>
        <a class="blog-page__item" href="#" data-filter-target="Интервью" data-bg="./assets/images/blog-page/1.jpg" data-bg-webp="./assets/images/blog-page/1.webp">
          <span class="blog-page__description">Интервью</span>
          <h3 class="blog-page__item-title">Производство воздуховодов</h3>
          <p class="blog-page__item-text ">
            Среднее по размеру описание новости или статьи
          </p>
          <div class="blog-page__item-button-wrapper">
            <time class="blog-page__date">01.02.2022</time>
            <div class="blog-page__duration-wrapper">
              <span class="blog-page__number blog-page__number--duration">3 мин</span> <span class="blog-page__number blog-page__number--view">345</span>
            </div>
          </div>
        </a>
        <a class="blog-page__item" href="#" data-filter-target="Интервью" data-bg="./assets/images/blog-page/1.jpg" data-bg-webp="./assets/images/blog-page/1.webp">
          <span class="blog-page__description">Интервью</span>
          <h3 class="blog-page__item-title">Производство воздуховодов</h3>
          <p class="blog-page__item-text ">
            Среднее по размеру описание новости или статьи
          </p>
          <div class="blog-page__item-button-wrapper">
            <time class="blog-page__date">01.02.2022</time>
            <div class="blog-page__duration-wrapper">
              <span class="blog-page__number blog-page__number--duration">3 мин</span> <span class="blog-page__number blog-page__number--view">345</span>
            </div>
          </div>
        </a>
        <a class="blog-page__item" href="#" data-filter-target="Интервью" data-bg="./assets/images/blog-page/1.jpg" data-bg-webp="./assets/images/blog-page/1.webp">
          <span class="blog-page__description">Интервью</span>
          <h3 class="blog-page__item-title">Производство воздуховодов</h3>
          <p class="blog-page__item-text ">
            Среднее по размеру описание новости или статьи
          </p>
          <div class="blog-page__item-button-wrapper">
            <time class="blog-page__date">01.02.2022</time>
            <div class="blog-page__duration-wrapper">
              <span class="blog-page__number blog-page__number--duration">3 мин</span> <span class="blog-page__number blog-page__number--view">345</span>
            </div>
          </div>
        </a>
      </div>
      <div class="pagination">
        <div class="pagination__pagination-item">1</div>
        <div class="pagination__pagination-item pagination__pagination-item--active">2</div>
        <div class="pagination__pagination-item">...</div>
        <div class="pagination__pagination-item">4</div>

        <div class="pagination__pagination-item pagination__pagination-arrow pagination__pagination-arrow--prev"></div>
        <div class="pagination__pagination-item pagination__pagination-arrow pagination__pagination-arrow--next"></div>
      </div>
    </div>
    <aside class="actual">
      <h3 class="actual__title">ОСТАВАЙТЕСЬ В КУРСЕ АКТУАЛЬНЫХ НОВОСТЕЙ, АКЦИЙ И СКИДОК</h3>
      <form class="actual__form" action="#">
        <label class="actual__label"><input class="actual__input" type="email" placeholder="Введите свой Email" name="email">  <button class="actual__button" type="submit"></button></label>
      </form>
    </aside>
  </div>
</section>