<section class="ceo">
  <div class="container">
    <h2 class="ceo__title">Заголовок для СЕО</h2>
    <p class="ceo__text">Промышленная вентиляция является важным компонентом любого производства, обеспечивая комфорт и безопасность работников, а также предотвращая вредное влияние на окружающую среду. Но как выбрать подходящую вентиляционную систему? Как установить ее правильно и обеспечить ее надежное функционирование?
      На все эти вопросы мы готовы ответить, предлагая вам профессиональную помощь в подборе и установке оптимальной промышленной вентиляции.
    <span class="ceo__text-hidden" data-show-more>
      Промышленная вентиляция является важным компонентом любого производства, обеспечивая комфорт и безопасность работников, а также предотвращая вредное влияние на окружающую среду. Но как выбрать подходящую вентиляционную систему? Как установить ее правильно и обеспечить ее надежное функционирование?
      На все эти вопросы мы готовы ответить, предлагая вам профессиональную помощь в подборе и установке оптимальной промышленной вентиляции.
    </span>
    </p>
    <button class="ceo__read-more" data-more type="button">читать полностью</button>

  </div>
</section>