<section class="questions">
  <img src="./assets/images/circle.png" alt="" ghiw-picture-class="questions__circle">
  <div class="container">
    <div class="questions__box-wrapper">
      <div class="questions__box-item">
        <h2 class="questions__title">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
        <div class="questions__wrapper">
          <div class="questions__item">
            <p class="questions__quest questions__quest--active" data-trigger>Нужна ли вентиляция для нашего помещения?
              <svg class="questions__svg">
                <use class="questions__svg-fill" xlink:href="./assets/images/svg/set.svg#questions-arrow"></use>
              </svg>
            </p>
            <div class="questions__answer-inner questions__answer-inner--active" data-target>
              <p class="questions__answer-title">Ответ:</p>
              <p class="questions__answer-text">Нужно знать назначение и тз по эксплуатации помещения. С помощью этой информации мы предложим варианты от естественного воздухообмена до многофункциональной приточно-вытяжной системы</p>
            </div>
          </div>
          <div class="questions__item">
            <p class="questions__quest" data-trigger>Нужна ли вентиляция для нашего помещения?
              <svg class="questions__svg">
                <use class="questions__svg-fill" xlink:href="./assets/images/svg/set.svg#questions-arrow"></use>
              </svg>
            </p>
            <div class="questions__answer-inner" data-target>
              <p class="questions__answer-title">Ответ:</p>
              <p class="questions__answer-text">Нужно знать назначение и тз по эксплуатации помещения. С помощью этой информации мы предложим варианты от естественного воздухообмена до многофункциональной приточно-вытяжной системы</p>
            </div>
          </div>
          <div class="questions__item">
            <p class="questions__quest" data-trigger>Нужна ли вентиляция для нашего помещения?
              <svg class="questions__svg">
                <use class="questions__svg-fill" xlink:href="./assets/images/svg/set.svg#questions-arrow"></use>
              </svg>
            </p>
            <div class="questions__answer-inner" data-target>
              <p class="questions__answer-title">Ответ:</p>
              <p class="questions__answer-text">Нужно знать назначение и тз по эксплуатации помещения. С помощью этой информации мы предложим варианты от естественного воздухообмена до многофункциональной приточно-вытяжной системы</p>
            </div>
          </div>
          <div class="questions__item">
            <p class="questions__quest" data-trigger>Нужна ли вентиляция для нашего помещения?
              <svg class="questions__svg">
                <use class="questions__svg-fill" xlink:href="./assets/images/svg/set.svg#questions-arrow"></use>
              </svg>
            </p>
            <div class="questions__answer-inner" data-target>
              <p class="questions__answer-title">Ответ:</p>
              <p class="questions__answer-text">Нужно знать назначение и тз по эксплуатации помещения. С помощью этой информации мы предложим варианты от естественного воздухообмена до многофункциональной приточно-вытяжной системы</p>
            </div>
          </div>
          <div class="questions__item">
            <p class="questions__quest" data-trigger>Нужна ли вентиляция для нашего помещения?
              <svg class="questions__svg">
                <use class="questions__svg-fill" xlink:href="./assets/images/svg/set.svg#questions-arrow"></use>
              </svg>
            </p>
            <div class="questions__answer-inner" data-target>
              <p class="questions__answer-title">Ответ:</p>
              <p class="questions__answer-text">Нужно знать назначение и тз по эксплуатации помещения. С помощью этой информации мы предложим варианты от естественного воздухообмена до многофункциональной приточно-вытяжной системы</p>
            </div>
          </div>
        </div>
      </div>
      <div class="questions__box-item">
        <form class="form-second">
          <fieldset class="form-second__inner">
            <legend class="form-second__title">Вам нужна помощь специалиста?</legend>
            <p class="form-second__text">Наши специалисты проконсультируют вас в течении 1 <br> минуты и составят смету, а после отправят на почту</p>
            <fieldset class="form-second__contact-inner">
              <label class="form-second__label form-second__label--input"> <input type="text" class="form-second__input" placeholder="Ваше имя" name="Имя" required></label> <label class="form-second__label form-second__label--input"> <input type="tel" class="form-second__input" placeholder="Номер телефона" name="Телефон" required></label>
            </fieldset>
            <label class="form-second__label form-second__label--textarea"> <textarea class="form-second__input form-second__textarea" placeholder="Комментарий" name="Вопрос" required></textarea> </label>
            <fieldset class="form-second__button-inner">
              <button class="form-second__button" type="submit">Получить консультацию</button>
              <label class="form-second__politic-label"> <input class="form-second__checkbox" type="checkbox" name="принять политику конфиденциальности" checked required>
                <span class="form-second__fake-checkbox"></span> <span class="form-second__politic">Я согласен на обработку <a class="form-second__politic-color" href="#">персональных данных</a></span> </label>
            </fieldset>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>

