<section class="stages">
  <div class="container">
    <h2 class="stages__title">Этапы работы</h2>
    <div class="stages__wrapper" data-steps-swiper>
      <div class="stages__inner">
        <div class="stages__item">
          <div class="stages__count"></div>
          <p class="stages__text">Заявка</p>
          <p class="stages__text-hidden">Вы оставляете заявку и наши менеджеры связываются с Вами в течение 30 минут.</p>
        </div>
        <div class="stages__item">
          <div class="stages__count"></div>
          <p class="stages__text">Индивидуальный<br>расчет сметы</p>
        </div>
        <div class="stages__item">
          <div class="stages__count"></div>
          <p class="stages__text">Заключение<br>договора поставки</p>
        </div>
        <div class="stages__item">
          <div class="stages__count"></div>
          <p class="stages__text">Производство или<br>обработка заказа</p>
        </div>
        <div class="stages__item">
          <div class="stages__count"></div>
          <p class="stages__text">Отгрузка</p>
        </div>
        <div class="stages__item">
          <p class="stages__text">Свяжитесь с нами, чтобы получить консультацию по вашему проекту</p>
          <button class="stages__button">Оставить заявку</button>
        </div>
      </div>
      <div class="stages__control-inner">
        <div class="stages__control-button stages__control-button--prev" data-stages-prev></div>
        <div class="stages__control-button stages__control-button--next" data-stages-next></div>
      </div>
    </div>
  </div>
</section>