<section class="about">
  <div class="container">
    <h2 class="about__title">
      О компании
    </h2>
    <div class="about__wrapper">
      <div class="about__item">
        <p class="about__info-subtitle">AeroTechnoGroup — российский производитель и поставщик промышленного вентиляционного оборудования с 2016-го года. </p>
        <p class="about__info-text">За 7 лет работы мы создали динамично развивающийся бренд вентиляционных решеток и воздушных клапанов, продуманную систему комплексных поставок и команду профессионалов, способных решать даже самые сложные задачи в кратчайшие сроки.</p>
        <a class="about__more" href="#">подробнее</a>
        <div class="about__block-inner">
          <div class="about__block-item">
            <h3 class="about__block-title">2500 м²</h3>
            <p class="about__block-subtitle">Площадь производственных участков</p>
          </div>
          <div class="about__block-item">
            <h3 class="about__block-title">7 Лет </h3>
            <p class="about__block-subtitle">Работы и тысячи отгрузок в срок</p>
          </div>
          <div class="about__block-item">
            <h3 class="about__block-title">32000 Товаров</h3>
            <p class="about__block-subtitle">Для комплексного оснащения объектов</p>
          </div>
          <div class="about__block-item">
            <h3 class="about__block-title">700 Решеток</h3>
            <p class="about__block-subtitle">И воздушных клапанов производится ежедневно</p>
          </div>
        </div>
      </div>
      <div class="about__item about__item--video">
        <svg class="about__video-play">
          <use class="about__video-icon" xlink:href="assets/images/svg/set.svg#about-video-play"></use>
        </svg>
        <p class="about__video-text">Посмотрите короткое видео о нашей компании</p>
      </div>
      <div class="about__item about__item--partners">
        <h3 class="about__partners-title">Наши партнёры</h3>
        <div class="about__partners-wrapper">
          <div class="about__partners"></div>
          <div class="about__partners"></div>
          <div class="about__partners"></div>
          <div class="about__partners"></div>
          <div class="about__partners"></div>
          <div class="about__partners"></div>
        </div>
      </div>
    </div>
  </div>
</section>

