<section class="blog">
  <div class="blog__wrapper">
    <div class="container">
      <div class="blog__title-inner">
        <h2 class="blog__title">Блог</h2>
        <div class="blog__button-inner">
          <div class="blog__swiper-button blog__swiper-button--prev" data-blog-prev></div>
          <div class="blog__swiper-button blog__swiper-button--next" data-blog-next></div>
        </div>
      </div>
    </div>
    <div class="blog__swiper swiper" data-blog-swiper>
      <div class="blog__swiper-wrapper swiper-wrapper">
        <div class="blog__slide blog__slide--big swiper-slide">
          <div class="blog__item">
            <div class="blog__item-inner">
              <div class="blog__item-info-wrapper">
                <span class="blog__description">Статья</span>
                <time class="blog__date">01.02.2022</time>
              </div>
              <h3 class="blog__item-title">
                Контроль качества на производстве вентиляционных решеток
              </h3>
              <p class="blog__item-text">
                Воздуховоды – часть вентиляции, обеспечивающая беспрепятственное движение воздушных потоков и их циркуляцию внутри системы. В зависимости от предназначения и условий эксплуатации эти конструкции подразделяются на несколько типов.
              </p>
              <div class="blog__item-button-wrapper">
                <a class="blog__item-link" href="#">прочитать статью</a>
                <div class="blog__duration-wrapper">
                  <span class="blog__number blog__number--duration">3 мин</span>
                  <span class="blog__number blog__number--view">345</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog__slide blog__slide--two swiper-slide">
          <div class="blog__item-inner">
            <div class="blog__item">
              <svg class="blog__play">
                <use class="blog__play-icon" xlink:href="assets/images/svg/set.svg#blog-play"></use>
              </svg>
              <div class="blog__play-info">
                  <p class="blog__play-text">
                    Посмотреть видео о нас
                  </p>
                <time class="blog__play-time">3:24</time>
              </div>
            </div>
          </div>
        </div>
        <div class="blog__slide blog__slide--small swiper-slide">
          <div class=" blog__item-inner blog__item-inner--horizontal">

            <div class="blog__item blog__item--small-top">
              <div class="blog__small-wrapper">
                <div class="blog__item-info-wrapper blog__item-info-wrapper--small">
                  <span class="blog__description blog__description--small">Статья</span>
                </div>
                <h3 class="blog__item-title blog__item-title--small">Производство <br> воздуховодов</h3>
                <p class="blog__item-text blog__item-text--small ">
                  Среднее по размеру описание новости или статьи
                </p>
                <div class="blog__item-button-wrapper">
                  <time class="blog__date">01.02.2022</time>
                  <div class="blog__duration-wrapper">
                    <span class="blog__number blog__number--duration">3 мин</span>
                    <span class="blog__number blog__number--view">345</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="blog__item blog__item--small-bottom">
              <div class="blog__small-wrapper">
                <div class="blog__item-info-wrapper blog__item-info-wrapper--small">
                  <span class="blog__description blog__description--small">Мнение эксперта</span>
                </div>
                <h3 class="blog__item-title blog__item-title--small">Слуховые окна и наружные<br>решетки для дома</h3>
                <p class="blog__item-text blog__item-text--small ">
                  Среднее по размеру описание новости или статьи
                </p>
                <div class="blog__item-button-wrapper">
                  <time class="blog__date">01.02.2022</time>
                  <div class="blog__duration-wrapper">
                    <span class="blog__number blog__number--duration">3 мин</span>
                    <span class="blog__number blog__number--view">345</span>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="blog__slide blog__slide--big blog__slide--biggest swiper-slide">
          <div class="blog__item">
            <div class="blog__item-inner">
              <div class="blog__item-info-wrapper">
                <span class="blog__description">Статья</span>
                <time class="blog__date">01.02.2022</time>
              </div>
              <h3 class="blog__item-title">
                Важность вентиляционных решеток: как они влияют на комфорт и безопасность
              </h3>
              <p class="blog__item-text">
                ентиляционные решетки играют важную роль в обеспечении комфорта и безопасности в наших домах и офисах. Они предназначены для регулирования потока воздуха, обеспечивают свежий воздух и предотвращают накопление влаги и запаха. Несмотря на свою незаметность, вентиляционные решетки являются неотъемлемой частью л
              </p>
              <div class="blog__item-button-wrapper">
                <a class="blog__item-link" href="#">прочитать статью</a>
                <div class="blog__duration-wrapper">
                  <span class="blog__number blog__number--duration">3 мин</span>
                  <span class="blog__number blog__number--view">345</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="blog__sale-wrapper">
      <div class="blog__sale-inner">
        <h4 class="blog__sale-title">ОСТАВАЙТЕСЬ В КУРСЕ АКТУАЛЬНЫХ <br>НОВОСТЕЙ, АКЦИЙ И СКИДОК</h4>
        <form class="blog__sale-form" action="#">
          <label class="blog__sale-label">
            <input class="blog__sale-search" type="search" placeholder="Введите свой Email">
            <button class="blog__sale-button" type="submit">
              <svg class="blog__sale-icon">
                <use xlink:href="./assets/images/svg/set.svg#blog-sale-email"></use>
              </svg>
            </button>
          </label>
        </form>
      </div>
      <a class="blog__sale-link" href="blog-page.html">перейти в блог</a>
    </div>
  </div>

</section>