<section class="catalog">
		<div class="container">
				<h2 class="catalog__title">Каталог</h2>
				<div class="catalog__wrapper">
						<a class="catalog__item" href="#">
								<h3 class="catalog__item-title">Промышленные <br> вентиляторы</h3>
						</a>
						<a class="catalog__item" href="#">
								<h3 class="catalog__item-title">Приточно-вытяжные <br>  установки</h3>
						</a>
						<a class="catalog__item" href="#">
								<h3 class="catalog__item-title">Огнезадерживающие <br>  клапаны</h3>
						</a>
						<a class="catalog__item" href="#">
								<h3 class="catalog__item-title">Клапаны и заслонки</h3>
						</a>
						<a class="catalog__item" href="#">
								<h3 class="catalog__item-title">Автоматика</h3>
						</a>
						<a class="catalog__item" href="#">
								<h3 class="catalog__item-title">Тепло-вентиляционное <br> оборудование</h3>
						</a>
						<a class="catalog__item" href="#">
								<h3 class="catalog__item-title">Вентиляционные <br> решетки</h3>
						</a>
						<a class="catalog__item" href="catalog-page.html">
								перейти в каталог
						</a>

				</div>
		</div>
</section>


