<section class="service">
  <div class="container">
    <h2 class="service__title">Услуги</h2>
    <div class="service__wrapper" data-tabs>
      <div class="service__tabs-button tabs-active" data-tabs-btn>
        <div class="service__tabs-tab">
          <span class="service__tabs-text">Комплексные поставки</span>
          <span class="service__tabs-text">01</span>
        </div>
        <div class="service__tabs-pane tabs-pane-show" data-tabs-pane>
            <p class="service__tabs-subtitle">По индивидуальному заказу для объектов любой сложности</p>
            <div class="service__tabs-pane-inner">
              <ul class="service__tabs-pane-list">
                <li class="service__tabs-pane-item">Надежные материалы от проверенных поставщиков </li>
                <li class="service__tabs-pane-item">Технический контроль на каждом этапе </li>
                <li class="service__tabs-pane-item">Европейское оборудование</li>
              </ul>
              <ul class="service__tabs-pane-list">
                <li class="service__tabs-pane-item">Квалифицированный персонал</li>
                <li class="service__tabs-pane-item">Доступные цены и гарантия качества</li>
              </ul>
              <a class="service__tabs-pane-more" href="#">подробнее</a>
            </div>

        </div>
      </div>
      <div class="service__tabs-button" data-tabs-btn>
        <div class="service__tabs-tab">
          <span class="service__tabs-text">Монтаж и шеф-монтаж</span>
          <span class="service__tabs-text">02</span>
        </div>
        <div class="service__tabs-pane" data-tabs-pane>
          <p class="service__tabs-subtitle">По индивидуальному заказу для объектов любой сложности</p>
          <div class="service__tabs-pane-inner">
            <ul class="service__tabs-pane-list">
              <li class="service__tabs-pane-item">Надежные материалы от проверенных поставщиков </li>
              <li class="service__tabs-pane-item">Технический контроль на каждом этапе </li>
              <li class="service__tabs-pane-item">Европейское оборудование</li>
            </ul>
            <ul class="service__tabs-pane-list">
              <li class="service__tabs-pane-item">Квалифицированный персонал</li>
              <li class="service__tabs-pane-item">Доступные цены и гарантия качества</li>
            </ul>
            <a class="service__tabs-pane-more" href="#">подробнее</a>
          </div>

        </div>
      </div>
      <div class="service__tabs-button" data-tabs-btn >
        <div class="service__tabs-tab">
          <span class="service__tabs-text">Услуги порошковой краски</span>
          <span class="service__tabs-text">03</span>
        </div>
        <div class="service__tabs-pane" data-tabs-pane>
          <p class="service__tabs-subtitle">По индивидуальному заказу для объектов любой сложности</p>
          <div class="service__tabs-pane-inner">
            <ul class="service__tabs-pane-list">
              <li class="service__tabs-pane-item">Надежные материалы от проверенных поставщиков </li>
              <li class="service__tabs-pane-item">Технический контроль на каждом этапе </li>
              <li class="service__tabs-pane-item">Европейское оборудование</li>
            </ul>
            <ul class="service__tabs-pane-list">
              <li class="service__tabs-pane-item">Квалифицированный персонал</li>
              <li class="service__tabs-pane-item">Доступные цены и гарантия качества</li>
            </ul>
            <a class="service__tabs-pane-more" href="#">подробнее</a>
          </div>

        </div>
      </div>
      <div class="service__tabs-button" data-tabs-btn>
        <div class="service__tabs-tab">
          <span class="service__tabs-text">Монтаж вентиляции и кондиционеров</span>
          <span class="service__tabs-text">04</span>
        </div>
        <div class="service__tabs-pane" data-tabs-pane>
          <p class="service__tabs-subtitle">По индивидуальному заказу для объектов любой сложности</p>
          <div class="service__tabs-pane-inner">
            <ul class="service__tabs-pane-list">
              <li class="service__tabs-pane-item">Надежные материалы от проверенных поставщиков </li>
              <li class="service__tabs-pane-item">Технический контроль на каждом этапе </li>
              <li class="service__tabs-pane-item">Европейское оборудование</li>
            </ul>
            <ul class="service__tabs-pane-list">
              <li class="service__tabs-pane-item">Квалифицированный персонал</li>
              <li class="service__tabs-pane-item">Доступные цены и гарантия качества</li>
            </ul>
            <a class="service__tabs-pane-more" href="#">подробнее</a>
          </div>

        </div>
      </div>
      <div class="service__tabs-button" data-tabs-btn>
        <div class="service__tabs-tab">
          <span class="service__tabs-text">Производство металлоконструкций</span>
          <span class="service__tabs-text">05</span>
        </div>
        <div class="service__tabs-pane" data-tabs-pane>
          <p class="service__tabs-subtitle">По индивидуальному заказу для объектов любой сложности</p>
          <div class="service__tabs-pane-inner">
            <ul class="service__tabs-pane-list">
              <li class="service__tabs-pane-item">Надежные материалы от проверенных поставщиков </li>
              <li class="service__tabs-pane-item">Технический контроль на каждом этапе </li>
              <li class="service__tabs-pane-item">Европейское оборудование</li>
            </ul>
            <ul class="service__tabs-pane-list">
              <li class="service__tabs-pane-item">Квалифицированный персонал</li>
              <li class="service__tabs-pane-item">Доступные цены и гарантия качества</li>
            </ul>
            <a class="service__tabs-pane-more" href="#">подробнее</a>
          </div>

        </div>
      </div>
      <div class="service__tabs-button" data-tabs-btn>
        <div class="service__tabs-tab">
          <span class="service__tabs-text">Разработка проектной документации</span>
          <span class="service__tabs-text">06</span>
        </div>
        <div class="service__tabs-pane" data-tabs-pane>
          <p class="service__tabs-subtitle">По индивидуальному заказу для объектов любой сложности</p>
          <div class="service__tabs-pane-inner">
            <ul class="service__tabs-pane-list">
              <li class="service__tabs-pane-item">Надежные материалы от проверенных поставщиков </li>
              <li class="service__tabs-pane-item">Технический контроль на каждом этапе </li>
              <li class="service__tabs-pane-item">Европейское оборудование</li>
            </ul>
            <ul class="service__tabs-pane-list">
              <li class="service__tabs-pane-item">Квалифицированный персонал</li>
              <li class="service__tabs-pane-item">Доступные цены и гарантия качества</li>
            </ul>
            <a class="service__tabs-pane-more" href="#">подробнее</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  {{> help-section}}

</section>












<style>
    .service__tabs-button.tabs-active:nth-child(1) {
        background-image: url("../assets/images/tabs/tabs.jpg");
        @supports (background-image: url("../assets/images/tabs/tabs.webp")) {
            background-image: url("../assets/images/tabs/tabs.webp");
        }
    }
    .service__tabs-button.tabs-active:nth-child(2) {
        background-image: url("../assets/images/catalog/1.png");
        @supports (background-image: url("../assets/images/catalog/1.webp")) {
            background-image: url("../assets/images/catalog/1.webp");
        }
    }

</style>