<table>
<thead>
<tr>
  <th rowspan="2" style="min-width: 200px">Марка вентилятора</th>
  <th rowspan="2">Исполнение</th>
  <th rowspan="2"  style="min-width: 200px">Отн-ый диаметр колеса</th>
  <th colspan="3">Электродвигатель</th>
  <th colspan="2">Параметры в рабочей зоне</th>
  <th rowspan="2" style="min-width: 90px">Масса, кг</th>
  <th colspan="2">Виброизоляторы</th>
</tr>
<tr>
  <th>Частота вращения, об/мин.</th>
  <th>Мощность, кВт</th>
  <th>Тип*</th>
  <th>Производ-сть, 1000хм³/час</th>
  <th>Полное давление, Па</th>
  <th>Марка</th>
  <th>Количество в комплекте</th>
</tr>
</thead>
  <tbody>
    <tr>
      <td rowspan="10">№2,5</td>
      <td rowspan="10">1</td>
      <td rowspan="2">0,9</td>
      <td>1450</td>
      <td>0,12</td>
      <td>56А4</td>
      <td>0,37-0,88</td>
      <td>137-55</td>
      <td>22</td>
      <td rowspan="10">ДО-38</td>
      <td rowspan="10">4</td>
    </tr>
  <tr>
    <td>2900</td>
    <td>0,37</td>
    <td>63А2</td>
    <td>0,75-1,77</td>
    <td>540-230</td>
    <td>22</td>
  </tr>
  <tr>
    <td rowspan="2">0.95</td>
    <td>1450</td>
    <td>0,12</td>
    <td>56T4</td>
    <td>0,53-1,475</td>
    <td>160-13</td>
    <td>22</td>
  </tr>
  <tr>
    <td>1450</td>
    <td>0,12</td>
    <td>56T4</td>
    <td>0,53-1,475</td>
    <td>160-13</td>
    <td>22</td>
  </tr>
  <tr>
    <td rowspan="2">1</td>
    <td>1450</td>
    <td>0,12</td>
    <td>56T4</td>
    <td>0,53-1,475</td>
    <td>160-13</td>
    <td>22</td>
  </tr>
    <tr>
      <td>1450</td>
      <td>0,12</td>
      <td>56T4</td>
      <td>0,53-1,475</td>
      <td>160-13</td>
      <td>22</td>
    </tr>
    <tr>
      <td rowspan="2">1,05</td>
      <td>1450</td>
      <td>0,12</td>
      <td>56T4</td>
      <td>0,53-1,475</td>
      <td>160-13</td>
      <td>22</td>
    </tr>
    <tr>
      <td>1450</td>
      <td>0,12</td>
      <td>56T4</td>
      <td>0,53-1,475</td>
      <td>160-13</td>
      <td>22</td>
    </tr>
    <tr>
      <td rowspan="2">1,1</td>
      <td>1450</td>
      <td>0,12</td>
      <td>56T4</td>
      <td>0,53-1,475</td>
      <td>160-13</td>
      <td>22</td>
    </tr>
    <tr>
      <td>1450</td>
      <td>0,12</td>
      <td>56T4</td>
      <td>0,53-1,475</td>
      <td>160-13</td>
      <td>22</td>
    </tr>
  </tbody>
</table>