<table>
  <thead>
  <tr>
    <th>Наименование</th>
    <th>Обозначение кабеля</th>
    <th>Тип кабеля</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Вентилятор — 5,5 кВт и менее</td>
    <td rowspan="5">162</td>
    <td rowspan="5">162</td>
  </tr>
  <tr>
    <td>S1</td>
  </tr>
  <tr>
    <td>ВВГ5х1,5</td>
  </tr>
  <tr>
    <td>3,15</td>
  </tr>
  <tr>
    <td>3,15</td>
  </tr>


  </tbody>
  <tbody>
  <tr>
    <td>Вентилятор — 5,5 кВт и менее</td>
    <td rowspan="5">162</td>
    <td rowspan="5">162</td>
  </tr>
  <tr>
    <td>S1</td>

  </tr>
  <tr>
    <td>ВВГ5х1,5</td>
  </tr>
  <tr>
    <td>3,15</td>
  </tr>
  <tr>
    <td>3,15</td>
  </tr>


  </tbody>
  <tbody>
  <tr>
    <td>Вентилятор — 5,5 кВт и менее</td>
    <td rowspan="5">162</td>
    <td rowspan="5">162</td>
  </tr>
  <tr>
    <td>S1</td>

  </tr>
  <tr>
    <td>ВВГ5х1,5</td>
  </tr>
  <tr>
    <td>3,15</td>
  </tr>
  <tr>
    <td>3,15</td>
  </tr>


  </tbody>
</table>