<table>
  <thead>
  <tr>
    <th>Типоразмер вентилятора</th>
    <th>А, мм</th>
    <th>D, мм</th>
    <th>D1, мм</th>
    <th>F1, мм</th>
    <th>F2, мм</th>
    <th>F5, мм</th>
    <th>F6, мм</th>
    <th>H, мм</th>
    <th>Lmax, мм</th>
    <th>L, мм</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>2,5</td>
    <td>162</td>
    <td>162</td>
    <td>162</td>
    <td>162</td>
    <td>162</td>
    <td>162</td>
    <td>162</td>
    <td>162</td>
    <td>162</td>
    <td>162</td>
  </tr>
  <tr>
    <td>3,15</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
  </tr>
  <tr>
    <td>3,15</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
  </tr>
  <tr>
    <td>3,15</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
  </tr>
  <tr>
    <td>3,15</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
  </tr>
  <tr>
    <td>3,15</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
  </tr>
  <tr>
    <td>3,15</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
  </tr>
  <tr>
    <td>3,15</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
  </tr>
  <tr>
    <td>3,15</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
  </tr>
  <tr>
    <td>3,15</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td>205</td>
    <td></td>
  </tr>

  </tbody>
</table>